
@media screen and (min-width: 1000px) {
  .navbar-container{
    max-width: fit-content;
    position: absolute;
    top: 7px;
    right: 0px;
    
  }
}
@media screen and (max-width: 1000px) {
  .navbar-container{

    position: absolute;
    top: 7px;
    right: 0px;
    padding: 0px;
    height: 0px;
    max-width: 400px;
    
  }
  .navbar-container ul{
    
    width: 400px;
    padding: 30px;
    background-color: rgb(52, 50, 50);
  }
}
.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
  width: 100%;
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
}
.animation_layer.parallax {
	position: fixed;
}

#anim-img1 {
  background-image: url(./assets/galaxy-background.jpg);
}

#anim-img2 {
  background-image: url(./assets/star2.png);
}

/* #anim-img3 {
  background-image: url(./assets/mount1.png);
  background-repeat: no-repeat;
  background-size: cover;
  
} */
#anim-img4 {
  background-image: url(./assets/Moon-g.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 100px;
}
#anim-img5{
  background-image: url(./assets/ground.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* bottom: 100px; */
}
#anim-img6{
  background-repeat: no-repeat;
  background-size: cover;
  
}



body {
  font-size: calc(14px + 0.390625vw);
  font-family: monospace;
   font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 1.8rem;
  font-family: "DM Sans", sans-serif;
}
h2 {
  font-size: 2.4rem;
  font-family: "DM Sans", sans-serif;
}
h3 {
  font-size: 1.7rem;
  font-family: "DM Sans", sans-serif;
}
h4 {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
}

